html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  #map {
    width: 800px;
    height: 440px;
    margin-left: 40px;
    margin-top: 30px;
    border: solid black 1px;
  }
  
  
  @media screen and (max-width: 600px) {
    #map {
      width: auto;
      margin-top: 100px;
      margin-left: 0;
    }
  }
  
    #logo {
      height: 170px;
      width: 200px;
      z-index: 2;
    }
  
    @media screen and (max-width: 600px) {
      #logo {
        height: 70%;
        width: 70%;
      }
    }

  h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #66ff66;
  }
  
  
  h3 {
    opacity: 0.5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  option {
    background-color: white;
    border-radius: 8px;
    box-shadow: #000;
    color: black;
  }

  select:hover {
    background-color: #08557C;
  }
  
  select {
    border-radius: 10px;
    background-color:#2AA7E6;
    font-size: 20px;
    border: none;
    color: white;
    z-index: 3;
    width: 230px;
    margin-top: 10px;
  }
  
  @media screen and (max-width: 600px) {
    select {
      position: absolute;
      left: -20px;
      top: 310px;
    }
  }
  
  input {
    justify-content: left;
  }

  input[value="Ilmoita uusi Tapahtuma"]:hover {
    background-color: #08557C;
  }
  
  input[value="Ilmoita uusi Tapahtuma"] {
    border-radius: 10px;
    background-color: #2AA7E6;
    font-size: 20px;
    border: none;
    color: white;
    margin-left: 40px;
  }
  
  @media screen and (max-width: 600px) {
    input[value="Ilmoita uusi Tapahtuma"] {
      position: absolute;
      top: 360px;
      left: -107px;
      font-size: 18px;
    }
  }
  
  button {
    background-color: coral;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    color: white;
  }
  
  button:hover {
    background-color: crimson;
  }
  
  fieldset {
    border-radius: 8px;
    margin-left: 40px;
    z-index: 2;
    margin-top: 5px;
    background-color: white;
    z-index: 7;
  }
  
  @media screen and (max-width: 600px) {
    fieldset {
      position: absolute;
      right: 10px;;
      top: 960px;
      margin-left: 3px;
      background-color: white;
    }
  }

  .aika {
    position: absolute;
    top: 830px;
  }

  @media screen and (max-width: 600px) {
    .aika {
      position: absolute;
      top: 865px;
      left: -23px;
    }
  }

  .Tapahtuma {
    position: absolute;
    left: 200px;
    top: 830px;
  }

  @media screen and (max-width: 600px) {
    .Tapahtuma {
      position: absolute;
      left: 10px;
      top: 900px;
    }
  }

  .kategoria {
    position: absolute;
    left: 440px;
    top: 830px;
  }

  @media screen and (max-width: 600px) {
    .kategoria {
       position: absolute;
       top: 940px;
       left: 18px;
    }
  }

  .hae {
    position: absolute;
    left: 630px;
    top: 828px;
  }

  @media screen and (max-width: 600px) {
    .hae {
      position: absolute;
      top: 980px;
      left: -30px;
      background-color: #900;
    }
  }
  
  
  #hae_nappi {
    width: 58px;
    height: 30px;
    margin-left: 55px;
    background-color: red;
  }
  
  @media screen and (max-width: 600px) {
    #hae_nappi {
      margin-left: 0;
      width: 60px;
      height: 30px;
      background-color: coral;
    }
  }
  
  input[type="checkbox"] {
    -webkit-appearance:none;/* piilottaa default piirteen */
    height:25px;
    width: 25px;
    cursor:pointer;
    position:relative;
    -webkit-transition: .15s;
   }
  
   
   input[type="checkbox"]:before, input[type="checkbox"]:checked:before {
    position: justify;
    margin-left: 8px;
    width:100%;
    height:100%;
    line-height:2em;
    text-align:center;
    color: #900;
    content: '✘';
   }
   
   input[type="checkbox"]:checked:before {
    content: '✔';
    color: green;
   }
   
   input[type="checkbox"]:hover:before {
    background:rgba(255,255,255,0.3);
   }
  
  
    .grid { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        align-items: stretch;
        z-index: 2;
        margin: 40px;
    }
  
    @media screen and (max-width: 600px) {
      .grid {
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-gap: 20px;
       margin: 0;
      
      }
  }
  
    .grid > article {
      border: 1px solid #ccc;
      box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    }
    .grid > article img {
      max-width: 100%;
    }
    .text {
      padding: 0 20px 20px;
    }
    .text > button {
      background: gray;
      border: 0;
      color: white;
      padding: 10px;
      width: 100%;
      }
  
    .card {
      background-color: white;
    }
    /* tähti taivas*/
  
    
    /* ============================================================================================== 
  SED Innovations
  https://sed.am
  https://mkrtchyan.ga
  ================================================================================================= */
  * {
    margin: 0;
    padding: 0;
  }
  header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:300px;
    position:relative;
    z-index:5;
  }
  h2{
    margin-top: 30px;
    text-align: center;
  }
  header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
  }
  header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
  }
  
  @keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  
  
  .stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  }
  
  .stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
  }
  
  .twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;
  
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
  }
  
  .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: grey;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color:blue;
  }
  